body {
  /* background-color: #6e6e6e; */
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: rgb(37, 37, 37);
  background: radial-gradient(
    circle,
    rgba(37, 37, 37, 1) 0%,
    rgba(56, 56, 56, 1) 25%,
    rgba(110, 110, 110, 1) 100%
  );
}

.navbar {
  background-color: rgba(56, 56, 56, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  height: 4rem;
  margin-bottom: 10%;
}

nav div {
  align-items: center;
}
#nav-logo {
  font-size: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 1%;
  font-weight: 550;
  user-select: none;
}
.white-logo {
  color: #ffffff;
  z-index: 0;
}
.outline-logo {
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #baff39;
  z-index: 1;
}
.navbar-nav {
  font-weight: 300;
  font-size: 1.2rem;
  position: relative;
  z-index: 1;
  border-radius: 1rem;
}
.nav-link {
  transition: border-bottom 1s ease, font-size 0.5s ease;
}
.nav-link.active {
  font-weight: bolder;
  font-size: 1.3rem;
  /* border-bottom: 1px solid #baff39; */
  border-bottom: 1px solid rgba(186, 255, 57, 0.7);
}
.nav-link:hover {
  border-bottom: 1px solid rgba(186, 255, 57, 0.7);
}
header {
  padding-top: 20%;
  height: 100vh;
  position: relative;
  z-index: 0;
}
#a-arrow {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
}
#down-arrow {
  font-size: 3rem;
}
.navbar-toggler {
  border-color: #ffffff;
  margin-bottom: 5%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
#title {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 1%;
  font-weight: 550;
}
h1 {
  font-size: 4.5rem;
}
#logoB {
  position: relative;
  top: -20%;
  text-align: end;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  color: #aaa6a6;
}
.green {
  color: #baff39;
}
#iconos-header div i {
  text-align: center;
  font-size: 3rem;
}
#title-icon {
  text-align: end;
  margin-top: -5%;
}
#title-icon a {
  height: 1.7rem;
}
#title-icon i {
  vertical-align: middle;
  font-size: 1.7rem;
  color: #baff39;
  opacity: 0.7;
  transition: transform 0.2s;
}

#cv button {
  vertical-align: middle;
  height: 100%;
  color: #6e6e6e;
  background-color: #baff39;
  opacity: 0.7;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  transition: transform 0.2s;
}
#title-icon a i:hover,
#cv button:hover {
  transform: scale(1.1);
  opacity: 1;
}

#cv button i {
  color: #6e6e6e;
  font-size: 100%;
}
.icon-row {
  height: 50%;
}
.second-row {
  margin-top: 1rem;
}

@media (max-width: 991px) {
  .navbar-nav {
    background-color: rgba(56, 56, 56, 0.9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  .nav-link {
    width: 70%;
    text-align: center;
    transition: box-shadow 0.2s ease-in;
  }
  .nav-link.active {
    border-bottom: none;
  }
  .nav-link:hover {
    border-radius: 1rem;
    border-bottom: none;
    background-color: #252525;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  .navbar-toggler {
    border: none;
    color: #baff39;
  }
  #iconos-header {
    margin-top: 3rem;
  }
}
@media (max-width: 570px) {
  #iconos-header {
    margin-top: auto;
  }
  #logo {
    padding-top: 10%;
    padding-left: 10%;
    margin-bottom: 20%;
  }
  #title {
    width: 100%;
    flex-direction: column;
    display: block;
    justify-content: end;
  }

  #title h1 {
    text-align: start;
    width: auto;
    margin: -5% auto;
  }
  #logoB {
    text-align: start;
    width: 100%;
    margin-top: 15%;
  }
  #title-icon {
    text-align: start;
  }
}
h2 {
  font-size: 3rem;
  font-weight: 600;
}

#about,
#projects {
  text-align: center;
}

#about-text {
  text-align: start;
  font-size: 1.2rem;
  opacity: 0;
  transform: translate(-100px, 0) scale(0.9);
}

#about-img {
  text-align: center;
  vertical-align: middle;
  opacity: 0;

  transform: translate(100px, 0) scale(0.9);
}
.reveal-about {
  animation: reveal 0.5s ease-in-out forwards;
}
#about-img img {
  width: 60%;
  object-fit: contain;
}

#skills {
  text-align: center;
}

.skill-card {
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 2rem;
  opacity: 0;
  transform: translate(0, 100px) scale(0.5);
}
.reveal {
  animation: reveal 0.3s linear forwards;
}
@keyframes reveal {
  from {
    opacity: 0;
    /* transform: translate(0, 100px) scale(0.5); */
  }
  to {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}
@media (max-width: 576px) {
  .skill-card {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
}
.skill-card article {
  /* border: 1px solid rgba(170, 166, 166, 0.5); */
  background-color: rgba(170, 166, 166, 0.1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

  /* background-color: #383838; */
  border-radius: 24px;
  min-height: 13rem;
  align-content: center;
  transition: transform 0.3s;
}
.skill-card article:hover {
  /* background-color: #252525; */
  border: none;
  transform: scale(0.9);
}
.skill-card img {
  /* object-fit: contain; */
  height: 5rem;
}
.skill-card p {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}
#git {
  margin: 2rem auto;
}
#project-card-container .row {
  margin: 0;
}

.card {
  border-radius: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background-color: #252525;
  color: #ffffff;
  margin-top: 2rem;
  transition: border 0.2s ease;
  opacity: 0;
}

.card:hover {
  border: 1px solid rgba(186, 255, 57, 0.5);
}
.card img {
  width: 100%;
  object-fit: initial;
  border-radius: 24px 24px 0 0;
}
.card-title {
  color: #baff39;
  font-size: 2rem;
}
.card-body a:first-of-type {
  background-color: #baff39;
  color: #383838;
  font-size: 1.5rem;
}
.card-body a:first-of-type:hover {
  background-color: transparent;
  border: 1px solid #baff39;
  color: #baff39;
}
.card-body a:last-of-type {
  border: 1px solid #baff39;
  color: #baff39;
  font-size: 1.5rem;
  /* -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #baff39; */
}
.card-body a:last-of-type:hover {
  color: #383838;
  background-color: #baff39;
  font-weight: 600;
}
.project-card {
  text-align: center;
  width: 30rem;
}

.card-body a {
  font-size: 1rem;
  font-weight: bold;
  vertical-align: middle;
}
.card-btn-text {
  display: inline;
}
.custom-tooltip {
  --bs-tooltip-bg: rgba(0, 0, 0, 0.6);
  --bs-tooltip-color: #ffffff;
}

#contact {
  text-align: center;
}
#card-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #container-form {
  display: flex;
  justify-content: center;
}
form {
  width: 100%;
}
#inputs {
  width: 30%;
}
*/

.card-form input {
  height: 3rem;
}
textarea::placeholder,
.card-form input::placeholder {
  color: #aaa6a6;
  font-size: 1.2rem;
}
/* 
input[type="text"],
input[type="email"] {
  color: #ffffff;
} */
.input-text,
textarea {
  color: #ffffff;
  width: 100%;
  outline: none;
  border-radius: 15px;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid #ffffff;
}
textarea {
  min-height: 9rem;
}
.input-text:focus,
textarea:focus {
  background-color: rgba(37, 37, 37, 0.5);
}
.card-form label {
  padding-top: 5%;
  font-size: 1.2rem;
}
#email-error {
  color: rgba(255, 0, 0, 0.7);
}

h5 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
.card-form {
  text-align: left;
  background-color: #383838;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}
.submit-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
#submit-btn,
.modal-footer button {
  background-color: transparent;
  border: 1px solid #baff39;
  color: #baff39;
  font-size: 1.2rem;
  font-weight: 300;
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}
#submit-btn:hover,
.modal-footer button:hover {
  color: #383838;
  background-color: #baff39;
  font-weight: 500;
  transform: scale(1.05);
}
hr {
  border-top: 2px solid #383838;
}
footer {
  padding: 1rem;
  text-align: center;
  height: max-content;
  margin: 0;
}
#footer-icon i {
  color: #ffffff;
  font-size: 2rem;
}
.modal-content {
  margin-top: 20%;
  padding: 1rem;
  background-color: rgba(56, 56, 56, 0.6);
  /* background-color: #383838; */
  /* background-color: rgba(255, 255, 255, 0.3); */
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 1.2rem;
}
.modal-title {
  font-size: 2rem;
  width: 100%;
}
.modal-header,
.modal-footer {
  border: none;
}
